html{
  height: 100%;
}

body{
  margin: 0;
  height: 100%;
}

img{
  width: 100%;
  height: 100%;
}

li{
  list-style: none;
  display: inline-block;
}

a{
  text-decoration: none;
}

.space-0{
  margin: 0;
}

.font{
  font-family:  "游明朝体", "Yu Mincho", YuMincho, serif;
}

.font-size__5{
  font-size: 5em;
}

.fon-size__2{
  font-size: 2em;
}

.font-size__1{
  font-size: 1em;
}

.font-size__under1{
  font-size: 0.8em;
}

.font-size__min{
  font-size: 0.5em;
}

.top{
  position: relative;
  width: 100%;
  height: 100%;
}

.top__title{
  position: absolute;
  display: inline;
  margin: 0;
  top: 10px;
}

.top__title__description{
  position: absolute;
  display: inline;
  top: 80px;
  left: 200px;
}
.top__sub-title{
  position: absolute;
  top: 150px;
}

.link{
  position: absolute;
  padding: 0;
  top: 200px;
  left: 5%;
}

.footer__line{
  position: absolute;
  width: 90%;
  height: 1px;
  background: #5e5e5e;
  top: 80%;
  left: 5%;
  right: 5%;
}

.footer__contents{
  position: absolute;
  top: 90%;
}

.copyright{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 95%;
}
